@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 26;
  --background-rgb: 249, 247, 242;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .clip-path-arch {
    clip-path: ellipse(50% 100% at 50% 100%);
  }
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

