@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 36, 39, 43;
  --background-rgb: 249, 247, 242;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

